.btn {
  width: 320px;
  height: 64px;
  border-radius: 14px;
  background-color: $white;
  border: 2px solid $secondary;
  box-sizing: border-box;
  color: $secondary;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    transition: all 0.3s;
    background-color: #424a9e;
    color: $white;
  }
  &__true {
    margin-bottom: 15px;
  }
  &__full {
    background: linear-gradient(90deg, #ffa67a 0%, #ff6065 100%);
    color: $white;
    box-shadow: inset 0px -6px 0px #c65252;
    &:hover {
      transition: all 0.3s;
      opacity: 0.8;
    }
    &-restart {
      margin-top: 26px;
    }
  }
}
@media (min-width: 768px) {
  .btn {
    display: block;
    margin: 0 auto;
    width: 380px;
    height: 78px;
    font-size: 18px;
    &__true {
      margin-bottom: 30px;
    }
  }
}
@media (min-width: 1200px) {
  .btn {
    width: 445px;
    height: 89px;
    font-size: 21px;
    &__true {
      margin-bottom: 40px;
    }
    &__full {
      &-restart {
        margin-top: 61px;
      }
    }
  }
}
