.logo {
  width: 372px;
  height: 248px;
  margin-top: -30px;
}
@media (min-width: 768px) {
  .logo {
    width: 600px;
    height: 359px;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 707px;
    height: 471px;
  }
}
