.progress {
  text-align: left;
  max-width: 406px;
  margin: 0 auto;
  &__bar {
    justify-content: flex-start;
    align-items: center;
    position: relative;
    display: flex;
    max-width: 100%;
    height: 5px;
    background-color: #dbdeff;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  &__value {
    border-radius: 20px;
    height: 5px;
    background-color: #ff7878;
    overflow: hidden;
  }
  p {
    margin-bottom: 10px;
    font-size: 14px;
    span {
      font-size: 20px;
      color: #ff7878;
    }
  }
}
@media (min-width: 768px) {
  .progress {
    &__bar {
      margin-bottom: 60px;
    }
    p {
      font-size: 18px;
      span {
        font-size: 24px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .progress {
    p {
      font-size: 20px;
      span {
        font-size: 28px;
      }
    }
  }
}
