.result {
  margin-top: -90px;
  &__score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 19px;
    span {
      margin-left: 15px;
      color: $white;
      font-size: 19px;
      font-weight: 700;
      line-height: 23px;
      b {
        margin-left: 10px;
        color: #ff7878;
        font-size: 21px;
        line-height: 35px;
      }
      & > span {
        font-size: 12px;
        margin: 0;
      }
    }
  }
  &__avatar {
    width: 32px;
    height: 32px;
  }
  &__close {
    position: absolute;
    right: 21px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    @media (min-width: 768px) {
      right: 40px;
    }
    @media (min-width: 1200px) {
      right: 0;
    }
  }
  &__stars {
    &-icon {
      width: 22px;
      height: 22px;
    }
  }
}
@media (min-width: 768px) {
  .result {
    &__close {
      right: 40px;
    }
    &__stars {
      &-icon {
        width: 35px;
        height: 35px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .result {
    margin-bottom: 58px;
    &__score {
      margin-bottom: 29px;
      span {
        font-size: 22px;
        b {
          font-size: 28px;
        }
        & > span {
          font-size: 20px;
        }
      }
    }
    &__close {
      right: 0;
    }
  }
}
