@import "styles/vars";

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
  background-color: $primary;
  color: $secondary;
}

@import "styles/page";
@import "styles/icons";
@import "styles/lable";
@import "styles/button";
@import "styles/loading";
@import "styles/progress";
@import "styles/text";
@import "styles/result";
@import "styles/answer";
